@model Papeleria2.Models.Paqueterias

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAlmacen.cshtml";
}
<section class="contenedor-general">
    <div class="contenido-cuerpo">
        <h2>Eliminar</h2>

        <h3>¿Estas seguro de querer eliminar el producto?</h3>
        <div>
            <h4>Paqueterias</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.rfc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rfc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.web)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.web)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.direccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.direccion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.contacto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.contacto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.telContacto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telContacto)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <div class="boton-g">
                        <input type="submit" value="Delete" class="boton-general" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            }

        </div>
</section>