<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <script src="https://kit.fontawesome.com/1669efdec3.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>
    <header>
        <nav class="navegador">
            <section class="contenedor-navegar navegar">
                <div class="logo-navegar">
                    <img src="~/Content/img/pape.png">
                </div>
                <div class="links-navegar">
                    <div class="navegar-a">
                        <div class="div-a">
                            @Html.ActionLink("Nombre", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </div>
                    <div class="navegar-a">
                        <div class="div-a">
                            @Html.ActionLink("Inicio", "Index", "Home")
                        </div>
                    </div>
                    <div class="navegar-a">
                        <div class="div-a">
                            @Html.ActionLink("Acerca de", "About", "Home")
                        </div>
                    </div>
                    <div class="navegar-a">
                        <div class="div-a">
                            @Html.ActionLink("Contacto", "Contact", "Home")
                        </div>
                    </div>                    
                </div>
                <div class="img-navegar">                    
                    <div class="navegar-i">
                        <div class="div-i">
                            <a href=""><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="navegar-i">
                        <div class="div-i">
                            <i class="fas fa-user"></i>
                        </div>
                        <ul class="ul-li">
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </div>
                </div>
            </section>
        </nav>
    </header>
    @RenderBody()
    <div class="container body-content">

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/js/jquery.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
