@using Papeleria2.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Carrito</h2>

        <h3>Lista de productos</h3>
        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Precio</th>
                <th>Comprar</th>
            </tr>
            @foreach (Item item in (List<Item>)Session["cart"])
            {
            <tr>
                <td><a href="@Url.Action("Quitar", "Carrito", new { id = item.Producto.id })">Quitar</a></td>
                <td>@item.Producto.nombre</td>
                <td><img class="img-responsive" src="~/Content/img/Productos/@item.Producto.imagen" /></td>
                <td>@item.Producto.precio</td>
                <td>@item.Cantidad</td>
                <td>@(item.Producto.precio * item.Cantidad)</td>
                
            </tr>
            }
            <tr>
                <td align="right" colspan="6">Total</td>
                <td>@{
                    List<Item> cart = (List<Item>)Session["cart"];
                    var total = cart.Sum(item => item.Producto.precio * item.Cantidad);
                }@total
                </td>
            </tr>
        </table>
        <br/>
        <a class="btn-warning" href="@Url.Action("Index","Home")">Continuar</a>
        <p style="float:right;color:white">
            @Html.ActionLink("Confirmar Orden", "CrearOrden", "Checkouy",new { area = ""}, new { @class = "bt btn-success"})
        </p>
    </div>
</body>
</html>

