@model Papeleria2.Models.Categorias

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}
<section class="contenedor-general">
    <div class="contenido-cuerpo">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Categorias</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.imagen)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.imagen)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
@Html.AntiForgeryToken()

<div class="form-actions no-color">
    <div class="boton-g">
        <input type="submit" value="Delete" class="boton-general" /> 
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
}
        </div>
    </div>
</section>