@model Papeleria2.Models.Categorias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}
<section class="contenedor-general">
    <div class="contenido-cuerpo">
        <h2>Details</h2>

        <div>
            <h4>Categorias</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.imagen)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.imagen)
                </dd>

            </dl>
        </div>
        <div class="boton-g">
            @Html.ActionLink("Editar", "Edit", new { id = Model.id })
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
</section>